<html>

<head>
    <%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include ('../includes/flashmessage.ejs') %>
    <%- include('../includes/nav.ejs') %>
    <main class = "shop">
            <h1>Shop</h1>
            <% for(let product of products) { %>
                <article class = "productcard">
                    <h2><%=product.title%></h2>
                    <figure class = "productcard__picture">
                        <img src="images/<%=product.imageurl || "no-image.jpeg"%>" />
                    </figure>
                    <p><%=product.description%></p>
                    <p><%=product.price%></p>
                    <form action="/shop/addtocart" method="POST">
                        <input type="hidden" name="product" value="<%=product.id%>" />
                        <button type="submit">Add to cart</button>
                    </form>
                </article>
            <% } %>
        </main>
</body>

</html>